<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
    
  </head>
  <body>
    

    <p id="Confirm">This is our sweet confirmation page</p>
    <button id="Heaven">Confirm</button>
    <script src="/Javascript/motive.js"></script>
    <!--<script>
      document.getElementById("Heaven").onclick = function(){
        document.getElementById("Confirm").innerHTML = "Thank You Jesus for taking me this far"
        document.getElementById("Heaven").style.display = "none"

      }
    </script>-->
  </body>
